{% extends "base.html" %}
{% load staticfiles compress %}
{% block content %}
<div class="accommodation-container">
  <div class="accommodation" id="accommodation">
    <h2 class="accommodation__title">Accommodation in Warsaw</h2>

    <div class="accommodation__text">
        <p>In order to save you time searching for accommodation in Warsaw, we’ve prepared some suggestions for 
        where to stay during PyWaw Summit.</p>
        <h3><a href="http://www.mercure.com/pl/hotel-3384-mercure-warszawa-grand/index.shtml">Mercure Warszawa Grand</a></h3>
        <p>4-star hotel located within walking distance to the conference venue. Room prices around 330-440 PLN per night.
        We have a 10% discount for all our attendees here, just mention <em>PyWaw Summit</em> discount code when reserving your stay by e-mail!</p>
        <h3><a href="http://www.ibis.com/gb/hotel-3714-ibis-warszawa-stare-miasto-old-town/index.shtml">Ibis Warszawa Stare Miasto</a></h3>
        <p>Proven 3-star hotel located 4 metro line stops from the conference venue. Room prices around 260-320 PLN per night.</p>
        <p>Staying at some other fancy place you can recommend? Share on <a href="https://www.facebook.com/PyWawSummit">our facebook</a> and let others know!</p>
    </div>
  </div>
</div>
{% endblock %}
