{% load staticfiles compress %}
<div class="agenda-container" id="agenda">
  <div class="agenda">
    <h2 class="agenda__title">Agenda</h2>
    <h3 class="agenda__day-header">Day 1</h3>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">8:00</div>
        <div class="agenda__entry-end">9:00</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">REGISTRATION</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">9:00</div>
        <div class="agenda__entry-end">9:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">Opening</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">9:35</div>
        <div class="agenda__entry-end">10:05</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Marc-Andre-Lemburg.png' %})"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name">Marc-André Lemburg</h4>
        <h5 class="agenda__entry-talk-title">Keynote</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">10:05</div>
        <div class="agenda__entry-end">10:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">COFFEE BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">10:30</div>
        <div class="agenda__entry-end">11:00</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Katherine-Scott.png' %})" data-reveal-id="katherine-scott-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="katherine-scott-details">Katherine Scott</h4>
        <h5 class="agenda__entry-talk-title">A Brief Introduction to Practical Robotics in Python</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">11:05</div>
        <div class="agenda__entry-end">11:35</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Ignacy-Sokolowski.png' %})" data-reveal-id="ignacy-sokolowski-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="ignacy-sokolowski-details">Ignacy Sokołowski</h4>
        <h5 class="agenda__entry-talk-title">Single Responsibility Principle</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">11:35</div>
        <div class="agenda__entry-end">12:00</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">COFFEE BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">12:00</div>
        <div class="agenda__entry-end">12:30</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/placeholder.png' %})"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name">TBD</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">12:35</div>
        <div class="agenda__entry-end">13:05</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Lukasz-Langa.png' %})" data-reveal-id="lukasz-langa-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="lukasz-langa-details">Łukasz Langa</h4>
        <h5 class="agenda__entry-talk-title">Call Me Later</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">13:05</div>
        <div class="agenda__entry-end">14:00</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">LUNCH BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">14:30</div>
        <div class="agenda__entry-end">15:00</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Brandon-Rhodes.png' %})" data-reveal-id="brandon-rhodes-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="brandon-rhodes-details">Brandon Rhodes</h4>
        <h5 class="agenda__entry-talk-title">TBD</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">15:05</div>
        <div class="agenda__entry-end">15:35</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/placeholder.png' %})"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name">Brent Tubbs</h4>
        <h5 class="agenda__entry-talk-title">Real-time web apps with (just) Python and Postgres</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">15:35</div>
        <div class="agenda__entry-end">16:00</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">COFFEE BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">16:00</div>
        <div class="agenda__entry-end">16:30</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/placeholder.png' %})"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name">Tomasz Choduń</h4>
        <h5 class="agenda__entry-talk-title">Monolithic app to microservices transition is easy...</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">16:35</div>
        <div class="agenda__entry-end">17:05</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Konrad-Gawda.png' %})" data-reveal-id="konrad-gawda-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="konrad-gawda-details">Konrad Gawda</h4>
        <h5 class="agenda__entry-talk-title">Software Defined Networking in Python</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">17:05</div>
        <div class="agenda__entry-end">17:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">COFFEE BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">17:30</div>
        <div class="agenda__entry-end">18:00</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Honza-Kral.png' %})"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name">Honza Kral</h4>
        <h5 class="agenda__entry-talk-title">TBD</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">18:10</div>
        <div class="agenda__entry-end">18:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">Day 1 summary</h4>
      </div>
    </div>
    <div class="agenda__entry agenda__entry--last">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">18:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">AFTERPARTY</h4>
      </div>
    </div>
    <h3 class="agenda__day-header">Day 2</h3>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">8:30</div>
        <div class="agenda__entry-end">10:00</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">BREAKFAST</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">10:00</div>
        <div class="agenda__entry-end">10:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">Opening</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">10:30</div>
        <div class="agenda__entry-end">11:05</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Brandon-Rhodes.png' %})"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name">Brandon Rhodes</h4>
        <h5 class="agenda__entry-talk-title">Keynote</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">11:05</div>
        <div class="agenda__entry-end">11:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">COFFEE BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">11:30</div>
        <div class="agenda__entry-end">12:00</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Andrew-Godwin.png' %})" data-reveal-id="andrew-godwin-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="andrew-godwin-details">Andrew Godwin</h4>
        <h5 class="agenda__entry-talk-title">Small Data: Storage for the rest of us</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">12:05</div>
        <div class="agenda__entry-end">12:35</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Jan-Urbanski.png' %})" data-reveal-id="jan-urbanski-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="jan-urbanski-details">Jan Urbański</h4>
        <h5 class="agenda__entry-talk-title">On snakes and elephants</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">12:35</div>
        <div class="agenda__entry-end">13:00</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">COFFEE BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">13:00</div>
        <div class="agenda__entry-end">13:30</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/placeholder.png' %})"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name">TBD</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">13:35</div>
        <div class="agenda__entry-end">14:05</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Damien-George.png' %})"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name">Damien P. George</h4>
        <h5 class="agenda__entry-talk-title">TBD</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">14:05</div>
        <div class="agenda__entry-end">15:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">LUNCH BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">15:30</div>
        <div class="agenda__entry-end">16:00</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Rodolfo-Carvalho.png' %})" data-reveal-id="rodolfo-carvalho-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="rodolfo-carvalho-details">Rodolfo Carvalho</h4>
        <h5 class="agenda__entry-talk-title">Modern Deployments</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">16:05</div>
        <div class="agenda__entry-end">16:35</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/placeholder.png' %})"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name">TBD</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">16:35</div>
        <div class="agenda__entry-end">17:00</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">COFFEE BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">17:00</div>
        <div class="agenda__entry-end">17:30</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Marc-Andre-Lemburg.png' %})"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="rodolfo-carvalho-details">Marc-André Lemburg</h4>
        <h5 class="agenda__entry-talk-title">TBD</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">17:35</div>
        <div class="agenda__entry-end">18:05</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/placeholder.png' %})"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="rodolfo-carvalho-details">TBD</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">18:05</div>
        <div class="agenda__entry-end">18:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">COFFEE BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">18:30</div>
        <div class="agenda__entry-end">19:00</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Holger-Kregel.png' %})"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="rodolfo-carvalho-details">Holger Krekel</h4>
        <h5 class="agenda__entry-talk-title">TBD</h5>
      </div>
    </div>
    <div class="agenda__entry agenda__entry--last">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">19:10</div>
        <div class="agenda__entry-end">19:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">Closing</h4>
      </div>
    </div>
  </div>
</div>