{% load staticfiles compress %}
<div class="agenda-container" id="agenda">
  <div class="agenda">
    <h2 class="agenda__title">Agenda</h2>
    <h3 class="agenda__day-header">Day 1</h3>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">8:00</div>
        <div class="agenda__entry-end">9:00</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">REGISTRATION/BREAKFAST</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">9:00</div>
        <div class="agenda__entry-end">9:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">Opening</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">9:35</div>
        <div class="agenda__entry-end">10:15</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Marc-Andre-Lemburg.png' %})" data-reveal-id="marc-andre-lemburg-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="marc-andre-lemburg-details">Marc-André Lemburg</h4>
        <h5 class="agenda__entry-talk-title">Keynote: The Python Community - Present, Past and Future</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">10:15</div>
        <div class="agenda__entry-end">10:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">COFFEE BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">10:30</div>
        <div class="agenda__entry-end">11:00</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Katherine-Scott.png' %})" data-reveal-id="katherine-scott-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="katherine-scott-details">Katherine Scott</h4>
        <h5 class="agenda__entry-talk-title">A Brief Introduction to Practical Robotics in Python</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">11:05</div>
        <div class="agenda__entry-end">11:35</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Ignacy-Sokolowski.png' %})" data-reveal-id="ignacy-sokolowski-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="ignacy-sokolowski-details">Ignacy Sokołowski</h4>
        <h5 class="agenda__entry-talk-title">Single Responsibility Principle</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">11:35</div>
        <div class="agenda__entry-end">12:00</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">COFFEE BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">12:00</div>
        <div class="agenda__entry-end">12:30</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Ola-Sendecka.png' %})" data-reveal-id="ola-sendecka-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="ola-sendecka-details">Ola Sendecka</h4>
        <h5 class="agenda__entry-talk-title">Into the Rabbit Hole</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">12:35</div>
        <div class="agenda__entry-end">13:05</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Lukasz-Langa.png' %})" data-reveal-id="lukasz-langa-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="lukasz-langa-details">Łukasz Langa</h4>
        <h5 class="agenda__entry-talk-title">Call Me Later</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">13:05</div>
        <div class="agenda__entry-end">14:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">LUNCH BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">14:30</div>
        <div class="agenda__entry-end">15:00</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Brandon-Rhodes.png' %})" data-reveal-id="brandon-rhodes-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="brandon-rhodes-details">Brandon Rhodes</h4>
        <h5 class="agenda__entry-talk-title">Hoist Your I/O</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">15:05</div>
        <div class="agenda__entry-end">15:35</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Brent-Tubbs.png' %})" data-reveal-id="brent-tubbs-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="brent-tubbs-details">Brent Tubbs</h4>
        <h5 class="agenda__entry-talk-title">Real-time web apps with (just) Python and Postgres</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">15:35</div>
        <div class="agenda__entry-end">16:00</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">COFFEE BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">16:00</div>
        <div class="agenda__entry-end">16:30</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Tomasz-Chodun.png' %})" data-reveal-id="tomasz-chodun-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="tomasz-chodun-details">Tomasz Choduń</h4>
        <h5 class="agenda__entry-talk-title">Monolithic app to microservices transition is easy&hellip;</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">16:35</div>
        <div class="agenda__entry-end">17:05</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Konrad-Gawda.png' %})" data-reveal-id="konrad-gawda-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="konrad-gawda-details">Konrad Gawda</h4>
        <h5 class="agenda__entry-talk-title">Software Defined Networking in Python</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">17:05</div>
        <div class="agenda__entry-end">17:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">COFFEE BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">17:30</div>
        <div class="agenda__entry-end">18:00</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Holger-Krekel.png' %})" data-reveal-id="holger-krekel-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="holger-krekel-details">Holger Krekel</h4>
        <h5 class="agenda__entry-talk-title">Stories about decentralization and diversity</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">18:10</div>
        <div class="agenda__entry-end">18:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">Day 1 summary</h4>
      </div>
    </div>
    <div class="agenda__entry agenda__entry--last">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">18:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">AFTERPARTY</h4>
      </div>
    </div>
    <h3 class="agenda__day-header">Day 2</h3>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">8:30</div>
        <div class="agenda__entry-end">10:00</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">BREAKFAST</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">10:00</div>
        <div class="agenda__entry-end">10:20</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">Opening</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">10:20</div>
        <div class="agenda__entry-end">11:05</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Brandon-Rhodes.png' %})" data-reveal-id="brandon-rhodes-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="brandon-rhodes-details">Brandon Rhodes</h4>
        <h5 class="agenda__entry-talk-title">Keynote</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">11:05</div>
        <div class="agenda__entry-end">11:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">COFFEE BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">11:30</div>
        <div class="agenda__entry-end">12:00</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Andrew-Godwin.png' %})" data-reveal-id="andrew-godwin-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="andrew-godwin-details">Andrew Godwin</h4>
        <h5 class="agenda__entry-talk-title">Small Data: Storage for the rest of us</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">12:05</div>
        <div class="agenda__entry-end">12:35</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Jan-Urbanski.png' %})" data-reveal-id="jan-urbanski-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="jan-urbanski-details">Jan Urbański</h4>
        <h5 class="agenda__entry-talk-title">On snakes and elephants</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">12:35</div>
        <div class="agenda__entry-end">13:00</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">COFFEE BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">13:00</div>
        <div class="agenda__entry-end">13:25</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">LIGHTNING TALKS</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">13:30</div>
        <div class="agenda__entry-end">14:15</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Marc-Andre-Lemburg.png' %})" data-reveal-id="marc-andre-lemburg-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="marc-andre-lemburg-details">Marc-André Lemburg</h4>
        <h5 class="agenda__entry-talk-title">Designing Large-Scale Applications in Python</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">14:15</div>
        <div class="agenda__entry-end">15:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">LUNCH BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">15:30</div>
        <div class="agenda__entry-end">16:00</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Rodolfo-Carvalho.png' %})" data-reveal-id="rodolfo-carvalho-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="rodolfo-carvalho-details">Rodolfo Carvalho</h4>
        <h5 class="agenda__entry-talk-title">Modern Deployments</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">16:05</div>
        <div class="agenda__entry-end">16:35</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Szymon-Pyzalski.png' %})" data-reveal-id="szymon-pyzalski-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="szymon-pyzalski-details">Szymon Pyżalski</h4>
        <h5 class="agenda__entry-talk-title">Queueing tasks with rq</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">16:35</div>
        <div class="agenda__entry-end">17:00</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">COFFEE BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">17:00</div>
        <div class="agenda__entry-end">17:30</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Marcin-Gozdalik.png' %})" data-reveal-id="marcin-gozdalik-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="marcin-gozdalik-details">Marcin Gozdalik</h4>
        <h5 class="agenda__entry-talk-title">Shipping Python to customers</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">17:35</div>
        <div class="agenda__entry-end">18:05</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Ola-Sitarska.png' %})" data-reveal-id="ola-sitarska-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="ola-sitarska-details">Ola Sitarska</h4>
        <h5 class="agenda__entry-talk-title">Snakes, ponies and balloons: stories of teaching Python to thousands of women</h5>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">18:05</div>
        <div class="agenda__entry-end">18:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">COFFEE BREAK</h4>
      </div>
    </div>
    <div class="agenda__entry">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">18:30</div>
        <div class="agenda__entry-end">19:00</div>
      </div>
      <div class="agenda__entry-photo" style="background-image: url({% static 'img/speakers/Honza-Kral.png' %})" data-reveal-id="honza-kral-details"></div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-speaker-name" data-reveal-id="honza-kral-details">Honza Král</h4>
        <h5 class="agenda__entry-talk-title">Beyond the basics with Elasticsearch</h5>
      </div>
    </div>
    <div class="agenda__entry agenda__entry--last">
      <div class="agenda__entry-hours">
        <div class="agenda__entry-start">19:10</div>
        <div class="agenda__entry-end">19:30</div>
      </div>
      <div class="agenda__entry-details">
        <h4 class="agenda__entry-special-title">Closing</h4>
      </div>
    </div>
  </div>
</div>
