{% extends "base.html" %}

{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
{% endblock %}

{% block content %}
<div class="attendees-container">
  <h2 class="attendees__title">Attendees</h2>
  <p class="attendees__intro">Check out who is coming - you could still join them! Registration is still open - <a href="{% url 'attendee_create' %}">buy your ticket now</a>. You can only see folks who agreed to be shown here.</p>
  <div class="attendees">
    <ul class="attendees__grid">
    {% for attendee in attendees %}
      <li>
        {% if attendee.twitter %}<a href="http://twitter.com/{{ attendee.twitter }}" target="_blank">{% endif %}
        {% if attendee.avatar %}
        <img src="{{ attendee.avatar }}" alt="{{ attendee.name }} ({{ attendee.tagline }})" title="{{ attendee.name }} ({{ attendee.tagline }})" data-tooltip aria-haspopup="true" data-options="disable-for-touch: true" >
        {% else %}
        <div class="initials-avatar" title="{{ attendee.name }} ({{ attendee.tagline }})" data-tooltip aria-haspopup="true" data-options="disable-for-touch: true" >
          {{ attendee.get_initials }}
        </div>
        {% endif %}
        {% if attendee.twitter %}</a>{% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
